---
import OurTestimonials from "../components/OurTestimonials.astro";
import SesionCard from "../components/SesionCard.astro";
import Layout from "../layouts/Layout.astro";
import InputPassword from "../components/loginPage/InputPassword.astro";
---

<Layout title="Login">
  <SesionCard title="Login" text="Welcome back! Please log in to access your account.">
    <form class="flex justify-center max-[800px]:flex-col mt-14 gap-4 items-center">
      <div class="w-full smTablet:w-max">
        <label for="email"></label>
        <input
          class="bg-gray/10 border border-gray/15 rounded-[32px] py-4 px-5 w-full smTablet:w-80"
          type="email"
          id="email"
          placeholder="Enter your Email"
        />
      </div>
      <div class="smTablet:w-max relative w-full">
        <InputPassword />
      </div>
    </form>
    <span class="my-8 border-b w-max mx-auto">Forgot Password?</span>
  </SesionCard>
  <OurTestimonials />
</Layout>
