---
interface Props {
  page:string
}
const { page } = Astro.props as Props
---

<header class="flex items-center bg-gray/11 z-50 rounded-full justify-between px-6 py-3 text-lg border border-gray/15 max-w-7xl mx-5 xl:mx-auto">
  <span>
    <img src="/logo.svg" alt="logo">
  </span>
  <nav class="hidden lg:flex">
    <ul class="list-none flex items-center">
      <li><a class:list={[
        "",
        {
          "bg-gray/15 px-6 py-2 rounded-full block w-full":(page=='YourBank'),
          "px-6":!(page=='YourBank')
        }
      ]} href="/">Home</a></li>
      <li><a class:list={[
        "",
        {
          "bg-gray/15 px-6 py-2 rounded-full block w-full":(page=='Careers'),
          "px-6":!(page=='Careers')
        }
      ]} href="/careers">Careers</a></li>
      <li><a class:list={[
        "",
        {
          "bg-gray/15 px-6 py-2 rounded-full block w-full":(page=='About'),
          "px-6":!(page=='About')
        }
      ]} href="/about">About</a></li>
      <li><a class:list={[
        "",
        {
          "bg-gray/15 px-6 py-2 rounded-full block w-full":(page=='Security'),
          "px-6":!(page=='Security')
        }
      ]} href="/security">Security</a></li>
    </ul>
  </nav>
  <span class="gap-7 items-center hidden sm:flex">
    <span>Sign Up</span>
    <span class="bg-green/60 text-gray/11 px-6 py-2 rounded-full">Login</span>
  </span>
  <span class="bg-green/60 px-4 py-2 rounded-full lg:hidden">
    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 7.875C3.5 7.39175 3.89175 7 4.375 7H23.625C24.1082 7 24.5 7.39175 24.5 7.875C24.5 8.35825 24.1082 8.75 23.625 8.75H4.375C3.89175 8.75 3.5 8.35825 3.5 7.875ZM3.5 14C3.5 13.5168 3.89175 13.125 4.375 13.125H23.625C24.1082 13.125 24.5 13.5168 24.5 14C24.5 14.4832 24.1082 14.875 23.625 14.875H4.375C3.89175 14.875 3.5 14.4832 3.5 14ZM13.125 20.125C13.125 19.6418 13.5168 19.25 14 19.25H23.625C24.1082 19.25 24.5 19.6418 24.5 20.125C24.5 20.6082 24.1082 21 23.625 21H14C13.5168 21 13.125 20.6082 13.125 20.125Z" fill="#333333"/>
    </svg>      
  </span>
</header>
