---
interface Props {
  description:string
  nam:string
  hidden:boolean|false
}
const { description,nam,hidden } = Astro.props as Props
---

<article
 class:list={[
  'border border-gray/15 p-5 rounded-xl md:border-none text-center gap-8 overflow-hidden',
  {
    'hidden lg:grid':hidden,
    'grid':!hidden
  }
 ]}>
  <div class="flex justify-center gap-3 w-full">
    <svg width="250px" height="44" viewBox="0 0 318 44" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line y1="21.5" x2="121" y2="21.5" stroke="#262626"/>
      <path d="M141.844 20.9213L141.844 20.9213L141.843 20.9241C140.972 23.4976 140.533 25.9875 140.533 28.3916V35.5375C140.533 36.3659 141.205 37.0375 142.033 37.0375H151.23C152.059 37.0375 152.73 36.3659 152.73 35.5375L152.73 28.3118L152.73 28.3076C152.705 25.2765 153.188 22.52 154.172 20.0315C155.077 17.7776 156.172 15.6055 157.457 13.515C157.881 12.8262 157.699 11.913 157.014 11.4568L151.922 8.06394L151.922 8.06394C151.374 7.69826 150.636 7.72768 150.128 8.17744C148.424 9.68649 146.874 11.4883 145.477 13.5791L145.477 13.5802C143.95 15.8781 142.739 18.3254 141.844 20.9213ZM161.555 20.9213L161.554 20.9241C160.684 23.4976 160.245 25.9875 160.245 28.3916V35.5375C160.245 36.3659 160.916 37.0375 161.745 37.0375H170.942C171.77 37.0375 172.442 36.3659 172.442 35.5375L172.442 28.3118L172.442 28.3076C172.417 25.2766 172.9 22.5202 173.884 20.0319C174.789 17.7778 175.884 15.6056 177.169 13.515C177.593 12.8262 177.41 11.913 176.726 11.4568L171.634 8.06394L171.634 8.06394C171.085 7.69826 170.348 7.72768 169.84 8.17744L170.171 8.5518L169.84 8.17744C168.135 9.68649 166.586 11.4883 165.189 13.5791L165.188 13.5802C163.662 15.8781 162.45 18.3254 161.555 20.9213Z" fill="url(#paint0_linear_113_4983)" stroke="#CAFF33"/>
      <line x1="197" y1="21.5" x2="318" y2="21.5" stroke="#262626"/>
      <defs>
      <linearGradient id="paint0_linear_113_4983" x1="159.151" y1="8.06689" x2="159.151" y2="36.5375" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CAFF33"/>
      <stop offset="1" stop-color="#191919"/>
      </linearGradient>
      </defs>
    </svg>  
  </div>
  <p class="font-normal">{description}</p>
  <span class="text-green/60">{nam}</span>
</article>

